/*#C5FFFD
#88D9E6
#2A2B2E
#5A5A66
White
*/

body {
    background: #2A2B2E;
}

#board {
    background: rgba(130, 130, 130, 0.5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    height: 500px; 
    width: 500px; 
    display: grid; 
    margin: auto; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 20px; 
    padding: 20px; 
    border-radius: 5px; 
    backdrop-filter: blur(6px);
}

#title {
    font-family: 'Eczar'; 
    font-size: 60px; 
    font-weight: 700; 
    color: #C5FFFD; 
    text-align: center; 
    margin-bottom: 0px; 
}

#instruct {
    padding-bottom: 45px; 
    font-family: 'Eczar'; 
    color: white; 
    font-weight: 300; 
    font-size: 20px; 
    text-align: center; 
}

.card {
    height: 100%; 
    width: 100%; 
    border-radius: 5px; 
    position: relative; 
    cursor: pointer;  
}

.card-front, .card-back {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    border-radius: 5px; 
}

.card-front {
    background-color:#88D9E6; 
}

.card-back {
    background:#C5FFFD; 
    text-align: center; 
    vertical-align: middle;
    line-height: 115px; 
    font-size: 30px; 
    visibility: hidden;
}

#scoreboard {
    font-family: 'Eczar'; 
    font-size: 40px; 
    font-weight: 700; 
    color: #C5FFFD; 
    text-align: center; 
}

#score {
    font-family: 'Eczar'; 
    font-size: 40px; 
    font-weight: 700; 
    color: white; 
}

#reset {
    background-color: #88D9E6; 
    border: none; 
    color: #2A2B2E; 
    font-family: 'Eczar'; 
    font-size: 30px; 
    font-weight: 700; 
    text-decoration: none; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px 40px; 
    cursor: pointer; 
}
    
